name: "Ifood simplificado CI/CD"

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      aws_assume_role_arn:
        required: true
      aws_s3_terraform_backend:
        required: true
      aws_region:
        required: true

jobs:
  terraform:
    name: Init terraform
    runs-on: ubuntu-latest
    steps:
      - name: Clone code from GitHub repository inside GitHub actions runner
        uses: actions/checkout@v4

      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.aws_assume_role_arn }}
          aws-region: ${{ secrets.aws_region }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.11.0

      - name: Terraform Init
        run: bash terraform/scripts/terraform_init.sh
        env:
          ENV: ${{ inputs.environment }}
          AWS_S3_TERRAFORM_BACKEND: ${{ secrets.aws_s3_terraform_backend }}
          AWS_REGION: ${{ secrets.aws_region }}

      - name: Terraform Validate
        run: bash terraform/scripts/terraform_validate.sh
        env:
          ENV: ${{ inputs.environment }}
